.recording-indicator-icon1 {
  width: 6px;
  height: 6px;
  position: relative;
  display: none;
}
.title2,
.title3 {
  align-items: center;
  justify-content: center;
}
.title3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  display: flex;
}
.title2 {
  width: 191px;
  display: none;
  flex-direction: row;
}
.right-title1 {
  width: 33px;
  position: relative;
  line-height: 23px;
  display: none;
}
.right-accessory1 {
  width: 196.5px;
  height: 42px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--subhead-lg-sh-lg-regular-size);
  color: var(--text-color-contentsecondary);
}
.forgot-password {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.title4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 51px;
}
.select-which-contact {
  align-self: stretch;
  position: relative;
  font-size: var(--subhead-lg-sh-lg-regular-size);
  line-height: 24px;
  color: var(--neutral-gray400);
}
.form-container,
.form-header {
  display: flex;
  align-items: flex-start;
}
.form-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.form-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 25px 0 33px;
}
.payment-card-child {
  height: 80px;
  width: 362px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-ivory-100);
  border: 1.5px solid var(--color-salmon);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.sms-icon-child {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.sms-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.sms-placeholder,
.via-sms {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.sms-placeholder {
  font-size: var(--subhead-lg-sh-lg-regular-size);
  line-height: 23px;
  color: var(--text-color-contenttertiary);
  text-align: center;
  min-width: 88px;
}
.sms-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-card,
.payment-card-item {
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.payment-card {
  align-self: stretch;
  background-color: var(--color-ivory-100);
  border: 1.5px solid var(--color-salmon);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-mid) var(--padding-xs);
  gap: var(--gap-5xs);
}
.payment-card-item {
  height: 80px;
  width: 362px;
  position: relative;
  background-color: var(--primary-50-2);
  border: 1px solid var(--primary-100);
  display: none;
}
.frame-inner {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.payment-card-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.via-email,
.xyzxyzcom {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.via-email {
  line-height: 19px;
  display: inline-block;
  min-width: 66px;
}
.xyzxyzcom {
  font-size: var(--subhead-lg-sh-lg-regular-size);
  line-height: 23px;
  color: var(--text-color-contenttertiary);
  text-align: center;
}
.payment-card1,
.via-email-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-card1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--primary-50-2);
  border: 1px solid var(--primary-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-mid) var(--padding-xs);
  gap: var(--gap-5xs);
  max-width: 100%;
}
.email-option,
.options {
  align-self: stretch;
  align-items: flex-start;
}
.email-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.options {
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--subhead-web-sm-sh-sm-medium-size);
  color: var(--text-color-contentdisbaled);
}
.content3,
.form-area,
.options {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.form-area {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
}
.content3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 283px var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--title-md-t-md-medium-size);
  color: var(--text-color-contentprimary);
  font-family: var(--subhead-lg-sh-lg-regular);
}
.home-indicator13 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--neutral-gray-900);
  width: 134px;
  height: 5px;
}
.home-indicator12 {
  align-self: stretch;
  height: 34px;
  position: relative;
  display: none;
}
.forget-password {
  width: 393px;
  background-color: var(--shades-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--headline-sm-h-sm-medium-size);
  color: var(--label-color-light-primary);
  font-family: var(--subhead-lg-sh-lg-regular);
}
