.create-an-account4 {
  width: 51px;
  position: relative;
  font-size: var(--subhead-lg-sh-lg-regular-size);
  line-height: 23px;
  font-weight: 500;
  font-family: var(--subhead-lg-sh-lg-regular);
  color: var(--shades-white);
  text-align: center;
  display: inline-block;
  min-width: 51px;
}
.bottom-content,
.ctaprimary4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.ctaprimary4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-5) var(--padding-xl);
  background-color: var(--color-salmon);
  flex: 1;
  border-radius: var(--br-5xs);
  justify-content: center;
  white-space: nowrap;
}
.bottom-content {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-mid);
}
.home-indicator30 {
  height: 5px;
  width: 134px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--neutral-gray-900);
}
.home-indicator29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-5xs)
    var(--padding-2xl);
}
.bottom-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
